.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.ion-jet
        | Police Militarization Value per Household
    .collapse.navbar-collapse
      ul#legend.nav.navbar-nav
        li(class=title=='LEGEND'?'active':undefined)
            span.ion-cash  /
            span.ion-home  =
        li(class=title=='Residential'?'active':undefined)
            span.ion-record.residential
            | Under $1
        li(class=title=='Commercial'?'active':undefined)
            span.ion-record.commercial
            | $1 < $10
        li(class=title=='City'?'active':undefined)
            span.ion-record.city
            | $10 < $50
        li(class=title=='other'?'active':undefined)
            span.ion-record.god
            | $50 < $100
        li(class=title=='other'?'active':undefined)
            span.ion-record.vacant
            | $100 < $1000
